* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0e6ef;
}

body {
    justify-content: center;
    text-align: center;
}


.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #807296;
}

.input_button_div {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

.list_input {
    border: none;
    border-bottom: 2px solid #807296;  
    width: 130px;
    font-size: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.list_input:focus {
    width: 170px;
    border: none;
}

.list_add_button {
    font-size: 24px;
    color: #807296;
    border: none;
}



.to_do_list {
    margin: 50px 500px 50px 500px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: 1px solid #807296;
    border-radius: 5px;
    list-style: none;
    
}

.to_do_list_content {
    padding: 5px 30px 5px 30px;
}

li.checked {
    text-decoration: line-through;
}

li.deleted {
    display: none;
}

li span.delete {
    cursor: pointer;
    top: 50px;
    right: 0px; 
    padding: 5px 16px 5px 30px;
    transform: translate(0%, -50%);
    
}